{% extends 'app/base.html' %}

{% block content %}

<div class="photo-detail">

<img src="{{ photo.image.url }}" class="photo-img">
<div class="photo-info">
    <a href="{% url 'app:users_detail' photo.user.id %}">@{{ photo.user }}</a>
</div>

<h2>{{ photo.title }}</h2>
<p>{{ photo.comment }}</p>

    <a href="{% url 'app:like' photo.id %}">いいね！</a>{{ photo.like_num }}

    <form method="post" action="{% url 'app:like' photo.id %}">{% csrf_token %}
    <button class="btn btn-primary" type="submit">いいね！</button>{{ photo.like_num }}
</form>


<!-- 削除ボタン -->
{% if request.user == photo.user %}
<form method="post" action="{% url 'app:photos_delete' photo.id %}">{% csrf_token %}
    <button class="btn btn-primary" type="submit" onclick='return confirm("本当に削除しますか？");'>削除</button>
</form>
{% endif %}




</div>
{% endblock %}