{% extends 'app/base.html' %}

{% block content %}

<h2>サインアップ</h2>

<form method="post" action="{% url 'app:signup' %}">{% csrf_token %}
    <label>ユーザー名</label>
    {{ form.username }}
    {{ form.username.errors }}
    <br>
    <label>パスワード</label>
    {{ form.password1 }}
    {{ form.password1.errors }}
    <br>
    <label>パスワード(確認)</label>
    {{ form.password2 }}
    {{ form.password2.errors }}
    <br>
    <input type="submit" value="登録する">
</form>

<p><a href="{% url 'app:login' %}">ログインはこちら</a></p>

<form class="" method="post" action="{% url 'app:login' %}">{% csrf_token %}　

    <input type="hidden" value="testuser" name="username">
    <input type="hidden" value="Testp@ssw0rd" name="password">
    <input type="submit" class="btn btn-primarybtn btn-primary" name="testuser" value="テストユーザでログイン">
</form>

{% endblock %}